.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-main-form {
  padding: 15px;
}

.complete {
  text-decoration: line-through;
}

.uncomplete {
  text-decoration: none;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
}

.edit-field {
  display: flex;
  justify-content: space-between;
}

.edit-todo-form {
  padding: 5px;
}

.todo-icon {
  font-size: 25px;
}

.todo-icon:hover {
  cursor: pointer;
}

.todo-title:hover {
  cursor: pointer;
}

.edit-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-todo-icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

.create-todo {
  font-size: 30px;
  cursor: pointer;
}

.search-input {
  width: 250px;
}

.search-suggestions {
  width: 250px;
  border: 1px solid #BEBEBE	;	
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestion {
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
}

.suggestion:hover {
  background-color: lightgray;
}

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
