.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-main-form {
  padding: 15px;
}

.complete {
  text-decoration: line-through;
}

.uncomplete {
  text-decoration: none;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
}

.edit-field {
  display: flex;
  justify-content: space-between;
}

.edit-todo-form {
  padding: 5px;
}

.todo-icon {
  font-size: 25px;
}

.todo-icon:hover {
  cursor: pointer;
}

.todo-title:hover {
  cursor: pointer;
}
