.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper {
  padding: 5px;
}

.complete {
  text-decoration: line-through;
}

.uncomplete {
  text-decoration: none;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
}

.edit-field{
  display: flex;
  justify-content: space-between;
}

.edit-todo-form{
  padding: 5px;
}

.fa-check-circle{
  font-size: 25px;
}

.fa-check-circle:hover{
  cursor: pointer;
}